* {
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #212529;
}

#tiles{
    width: 100vw;
    height: 100vh;
    display: grid;
}

.tile{
    height: 100%;
    width: 100%;
    display: inline-block;
    outline: 1px solid rgba(0, 0, 0, 0.2);;
}

body.toggled .tile:hover{
    opacity: 0.9;
}

body.toggled #title{
    opacity: 1;
}

h1{
    opacity: 0;
    text-align: center;
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 12em;
    z-index: 10;
    transition: opacity 1.5s;
    pointer-events: none;
}

.centered {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}